/*-------------------- GENERAL ------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Regular', sans-serif;
    font-weight: 400;
}

.wrapper {
    width: 100%;
    min-width: 320px;
    overflow: hidden;
    opacity: 0;
}

.wrapper-inner {
    width: 100%;
    max-width: 1250px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header .wrapper-inner,
header .left-menu,
header .menu-right,
.services-item,
.about-company-item,
.transport-item,
footer .wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-item a,
.about-company-item div,
.transport-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0 0 55px 0;
    text-align: center;
    color: #808080;
    font-size: 36px;
    text-transform: uppercase;
}

/*-------------------- MENU ------------------------*/

header[role='banner'] {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    background: #415e89;
    z-index: 100;
}

header a {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    transition: .4s;
}

.page-language {
    display: flex;
    align-items: center;
}

.left-menu a {
    padding: 0 20px;
}

.page-language {
    margin: 0 0 0 25px;
    width: 150px;
}

.page-language .current-value {
    color: #cbcbcb;
    font-size: 14px;
    text-transform: none;
    text-decoration: underline;
    transition: all .4s;
}

.page-language-icon {
    width: 30px;
    height: 15px;
    margin: 0 5px 0 0;
    transition: .4s;
}

.page-language-icon-en {
    background: url(../source/images/page-language-icon-en.png) no-repeat;
    background-size: 30px 15px;
 }

.page-language-icon-ru {
    background: url(../source/images/page-language-icon-ru.png) no-repeat;
    background-size: 30px 15px;
}

.page-language-icon-ua {
    background: url(../source/images/page-language-icon-ua.png) no-repeat;
    background-size: 30px 15px;
}

header a:hover {
    color: #cbcbcb;
}

.burger {
    display: none;
}

.page-language .current-value:hover {
    color: white;
    text-decoration: none;
}

.page-language:hover .page-language-icon{
    transform: translateX(-5px) scale(1.15);
}


/*------Custom-Dropdown---------*/

.custom-dropdown {
    position: relative;
    z-index: 1;
}

.custom-dropdown button {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.custom-dropdown button:hover {
    color: #cbcbcb;
}

.custom-dropdown ul {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    display: none;
    width: 180px;
    background: white;
    padding: 15px;
    border: 1px solid black;
}

.custom-dropdown ul:before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    right: 25px;
    width: 6px;
    height: 6px;
    background: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(45deg);
}

.wrapper-inner .custom-dropdown ul li a {
    color: black;
    font-size: 10px;
}

.wrapper-inner .custom-dropdown ul li a:hover {
    color: red;
}

/*----- Custom-Select ----------*/

.custom-select {
    position: relative;
    z-index: 1;
    user-select: none;
}

.current-value {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.current-value:hover {
    color: red;
}

.wrapper-inner .custom-select ul {
    display: none;
    width: 180px;
    background: white;
    padding: 20px;
    border: 1px solid black;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
}

.wrapper-inner .custom-select ul:before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: 25px;
    width: 6px;
    height: 6px;
    background: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    transform: rotate(45deg);
}

.wrapper-inner .custom-select ul li {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4;
}

.wrapper-inner .custom-select ul li:hover,
.wrapper-inner .custom-select ul li.active {
    color: red;
}

input {
    display: none;
}
/*-------------------- SLIDER ------------------------*/

.slider.wrapper-inner {
    padding: 0;
}

.slide {
    position: relative;
}

.slider .slide {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.slide img {
    display: block;
}

.slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
    transition: .4s;
}

.slick-dots li {
    display: inline-block;
    margin: 5px;
}

.slick-dots li button {
    display: block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #7f7f7f;
    border: 2px solid #3f99d6;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    transition: .4s;
}

.slick-dots li.slick-active button {
    width: 33px;
    height: 33px;
    background: white;
}

button:active,
button:focus,
.slide-info a,
.slide {
    outline: none;
}

.slide-info {
    position: absolute;
    left: 30px;
    bottom: 115px;
    width: 555px;
    height: 230px;
    padding: 35px 55px;
    background: rgba(66, 102, 146, .87);
}

.slide .slide-info div {
    color: white;
    font-size: 48px;
    line-height: 1;
    margin: 0 0 30px 0;
}

.slide-info a {
    color: white;
    font-size: 36px;
    text-decoration: underline;
    transition: .4s;
}

.slide-info a:hover {
    text-decoration: none;
}

.slick-dots li:hover button {
    border: 4px solid #3f99d6;
    opacity: .6;
}

/*-------------------- SERVICES ------------------------*/

.services {
    padding: 60px 0;
}

.services-item {
    align-items: flex-start;
}

.services-item a {
    width: 165px;
}

.services-item-logo {
    margin: 0 0 35px 0;
    align-self: center;
    transition: .4s;
}

.logistics {
    background: url(../source/images/services-item-logistics.png) no-repeat;
    width: 103px;
    height: 113px;
}

.transit {
    background: url(../source/images/services-item-transit.png) no-repeat;
    width: 124px;
    height: 112px;
}

.outsourcing {
    background: url(../source/images/services-item-outsourcing.png) no-repeat;
    width: 121px;
    height: 114px;
}

.delivery {
    background: url(../source/images/services-item-delivery.png) no-repeat;
    width: 139px;
    height: 113px;
}

.pack {
    background: url(../source/images/services-item-pack.png) no-repeat;
    width: 135px;
    height: 117px;
}

.insurance {
    background: url(../source/images/services-item-insurance.png) no-repeat;
    width: 130px;
    height: 118px;
}

.services-item-name {
    text-align: center;
    line-height: 1.4;
    color: #3f99d6;
    font-size: 18px;
    transition: .4s;
}

.services-item-name:hover {
    color: #808080;
}

.services-item-logo:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {
    .services-item {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

}

/*-------------------- ABOUT-COMPANY ------------------------*/

.about-company {
    padding: 70px;
    background: #e9e9e9;
}

.about-company-item {
    align-items: flex-start;
}

.about-company-item-number {
    margin: 0 0 25px 0;
    color: #0097dc;
    font-size: 60px;
    font-weight: 700;
}

.about-company-item-name {
    color: #808080;
    font-size: 22px;
    text-align: center;
}


/*-------------------- TRANSPORT ------------------------*/

.transport {
    padding: 80px 0;
}

.transport-item {
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
}

.transport-item-logo {
    margin: 0 0 35px 0;
    width: 160px;
    height: 160px;
    align-items: stretch;
    transition: .4s;
}

.avia {
    background: url(../source/images/transport-avia.png) no-repeat center;
}

.water {
    background: url(../source/images/transport-water.png) no-repeat center;
}

.avto {
    background: url(../source/images/transport-avto.png) no-repeat center;
}

.transport-item-name {
    text-align: center;
    color: #3f99d6;
    font-size: 24px;
    transition: .4s;
}

.transport-item-name:hover {
    color: #808080;
}

.transport-item-logo:hover {
    transform: scale(1.1);
}

.transport-item-logo:after {
    background: #0096dc;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

.transport-item-logo:before {
    width: 0;
    height: 0;
    background: none;
    border: 10px solid transparent;
    border-top: 10px solid #0096dc;
}

[data-balloon][data-balloon-pos="up"]:before {
    margin-bottom: -7px;
}

/*-------------------- ADVANTAGES ------------------------*/

.advantages {
    background: #0096dc;
    padding: 60px 0 20px 0;
}

.advantages h2{
    color: white;
}

.advantages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: list;
}

.advantages li {
    position: relative;
    margin: 0 0 40px 105px;
    width: 40%;
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.advantages li:nth-child(2n-1) {
    margin: 0 20px 40px 105px;
}

.advantages ul > li:before {
    content: counter(list) "";
    counter-increment: list;
    display: inline-block;
    position: absolute;
    left: -105px;
    margin: 0 35px 0 0;
    color: #555555;
    font-size: 60px;
    font-weight: 700;
    background: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
}

/*-------------------- INFO ------------------------*/

.info {
    padding: 55px 0;
}

.info h2 {
    margin: 0 0 45px 0;
    color: #808080;
    font-size: 36px;
    text-align: center;
}

.info p {
    margin: 0 0 7px 0;
    color: #808080;
    font-size: 18px;
    line-height: 1.4;
}

.info .order-services {
    display: block;
    margin: 50px auto 0 auto;
    padding: 42px 50px;
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    background: #0096dc;
    border: none;
    border-radius: 20px;
    box-shadow: 9px 9px 15px 0 rgba(0, 0, 0, .28);
    cursor: pointer;
    transition: all .4s;
}

.info .order-services:active {
    background: #0081dc;
    transform: translateY(2px);
}

.info .order-services:hover {
    box-shadow: 9px 9px 15px 0 rgba(0, 0, 0, .5);
}

/*---------------- FOOTER ----------------------*/

footer[role='contentinfo'] {
    padding: 35px 0;
    background: #a7a7a7;
}

.copyright div,
.copyright div a {
    color: #3f3e3e;
    font-size: 14px;
}

footer .arrow-up {
    position: fixed;
    bottom: 20px;
    right: 60px;
    background: url(../source/images/arrow-up.png);
    width: 58px;
    height: 57px;
    border: none;
    cursor: pointer;
    transition: all .4s;
}

footer .arrow-up:hover {
    background: url(../source/images/arrow-up-hover.png);
    transform: scale(1.2);
}

/*-------------------- MODAL -------------------------*/

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    overflow: auto; /*создает скроллы внутри модального окна, а не обрезает полностью*/
    z-index: 101;
}

.modal-inner {
    position: relative;
    justify-content: space-between;
    width: 700px;
    background: white;
    border-radius: 7px;
    padding: 60px 40px 35px;
}

.close-modal {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url('../source/images/close-modal.png') no-repeat center;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.close-modal:hover {
    transform: scale(1.2);
}

 /*-------Form-------*/

.modal-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-form input {
    display: block;
    margin: 0 0 20px 0;
    border: none;
}

.modal-form input[name='select'] {
    display: none;
}

.modal-form .name,
.modal-form .email,
.modal-form .select {
    width: 47.5%;
    height: 45px;
    padding: 15px 46px 15px 20px;
    border: 1px solid #c1c6c9;
    border-radius: 3px;
}

.modal-form .select {
    position: relative;
}

.modal-form .select-value-name {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select ul {
    display: none;
    position: absolute;
    top: calc(100%);
    left: -1px;
    width: calc(100% - 44px);
    max-height: 115px;
    overflow: auto;
    background: white;
    border: 1px solid #c1c6c9;
}

.select ul li {
    padding: 10px 0 10px 20px;
    color: #4477c3;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.select ul li:hover {
    background: #c1c6c9;
    color: white;
}

.select ul li.active {
    color: #8aa646;
}

.select-value-name {
    color:#585858;
    font-size: 14px;
}

.select-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 46px;
    height: 44px;
    border-left: 1px solid #c1c6c9;
    background: url(../source/images/button-modal-select.png) no-repeat center;
    cursor: pointer;
}

.select-button.up {
    background: url(../source/images/button-modal-select-up.png) no-repeat center;
}

.modal-form .submit {
    display: block;
    margin: 30px auto 0 auto;
    background: url(../source/images/button-modal.png) no-repeat center;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
}


::-webkit-input-placeholder {color:#585858;}
::-moz-placeholder          {color:#585858;}
:-moz-placeholder           {color:#585858;}
:-ms-input-placeholder      {color:#585858;}

::-webkit-input-placeholder {font-family: 'Arial Regular', sans-serif;}
::-moz-placeholder          {font-family: 'Arial Regular', sans-serif;}
:-moz-placeholder           {font-family: 'Arial Regular', sans-serif;}
:-ms-input-placeholder      {font-family: 'Arial Regular', sans-serif;}

::-webkit-input-placeholder {font-size: 14px;}
::-moz-placeholder          {font-size: 14px;}
:-moz-placeholder           {font-size: 14px;}
:-ms-input-placeholder      {font-size: 14px;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/*--------------- MEDIA -----------------------*/


@media (max-width: 1250px) {

    header {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .wrapper {
        padding-top: 46px;
    }

    .burger {
        display: block;
        font-size: 24px;
        color: #fff;
    }

    header .left-menu {
        display: block;
        width: 100%;
        height: calc(100vh - 46px);
        padding: 25px 0 0;
        background: #415e89;
        position: fixed;
        left: 0;
        bottom: -150%;
        z-index: 101;
        transition: .6s;
    }

    .left-menu li {
        display: block;
        padding: 5px 15px;
        text-align: center;
    }

    .left-menu.active {
        bottom: 0;
    }

    .services-item,
    .about-company-item,
    .transport-item {
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .about-company-item {
        flex-wrap: nowrap;
    }

    .services-item a,
    .about-company-item div,
    .transport-item a {
        margin: 10px;
    }

    h2 {
        margin: 0 0 25px 0;
    }

    .services,
    .about-company,
    .transport,
    .advantages,
    .info {
        padding: 20px 0;
    }

}

@media (max-width: 999px) {

    h2,
    .info h2 {
        font-size: 26px;
        margin: 0 0 20px 0;
    }

    .about-company-item {
        flex-wrap: wrap;
    }

    .about-company-item div {
        width: 100%;
    }

    .about-company-item-number {
        font-size: 40px;
        margin: 0 0 15px 0;
    }

    .advantages li {
        width: 100%;
        margin: 0 0 40px 105px;
        font-size: 18px;
    }

    .advantages li:last-child {
        margin: 0 0 0 105px;
    }

    .advantages ul > li:before {
        width: 55px;
        height: 55px;
        font-size: 40px;
        line-height: 55px;
    }

    .transport-item-logo {
        width: 140px;
        height: 120px;
        background-size: 140px 120px;
        margin: 0 0 20px 0;
    }
}

@media (max-width: 768px) {

    .wrapper-inner {
        padding: 0 15px;
    }

    .modal-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantages li:nth-child(2n),
    .advantages li:nth-child(2n-1) {
        margin: 0 0 20px 85px;
    }

    .advantages ul >li:before {
        left: -75px;
    }

    .select {
        margin: 0 0 20px 0;
    }

    .submit {
        margin: 10px 0 0 0;
    }

    .info .order-services {
        margin: 30px auto 0 auto;
        font-size: 34px;
    }
}

@media (max-width: 640px) {

    .slide-info {
        width: calc(100% - 30px);
        height: auto;
        left: 15px;
        right: 15px;
        bottom: 300px;
        text-align: center;
        padding: 20px 25px;
    }

    .slide .slide-info div {
        font-size: 36px;
    }

    .slide .slide-info h1 {
        font-size: 32px;
    }

    .slide-info a {
        font-size: 24px;
    }

    .transport-item a {
        width: 100%;
    }

    footer .arrow-up {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 480px) {

    .modal-form .select,
    .modal-form .name,
    .modal-form .email{
        width: 100%;
    }

    .info .order-services {
        font-size: 30px;
        padding: 15px 20px;
    }

    .custom-dropdown ul {
        left: 0;
    }

     .custom-select ul:before {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        left: 10px;
        width: 6px;
        background: white;
        border-top: 1px solid black;
        border-left: 1px solid black;
        transform: rotate(45deg);
    }

    .info .order-services {
        margin: 15px auto 0 auto;
        font-size: 24px;
    }
}

